/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 99.8vh;
}

header {
  background-color: #2196f3;
  padding: 20px;
  color: white;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-container {
  margin-top: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px 0 0 4px;
}

button {
  padding: 12px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.weather-info {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
}

img {
  display: block;
  margin: 0 auto;
  height: 7rem;
}

.blank {
  text-align: center;
  font-size: 2rem;
}

.dark-mode {
  background-color: #000;
  color: #fff;
  border: 1px solid black;
}

/* Add styles for recent searches */
.recent-searches {
  margin-top: 20px;
  text-align: center;
}

.recent-searches h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.recent-searches ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.recent-searches li {
  font-size: 1.2rem;
  margin: 0 10px;
  text-transform: capitalize;
  cursor: pointer; /* Add cursor pointer */
  transition: all 0.3s; /* Add transition effect */
}

/* Style for the dark mode toggle icon */
header i {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.3s; /* Add transition effect */
}

/* Style when clicked */
.recent-searches li:hover {
  color: #2196f3;
}

/* Rotate the dark mode icon when toggling */
header i:hover {
  transform: rotate(180deg);
  color: #ff6600; /* Change the background color when hovered */
}





/* CSS */
/* Style the dark mode toggle icon */
header i {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.3s; /* Add transition effect */
}

/* Style the span text */
header span {
  display: inline-block;
  margin-left: 10px;
  font-size: 1rem; /* Adjust the font size as needed */
  transition: transform 0.3s; /* Add transition effect */
}

/* Move the span text closer to the icon when dark mode is active */
header.dark-mode span {
  transform: translateY(20px), translateX(-20px); /* Adjust the value to position the text as desired */
}
