/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 99.8vh;
}

header {
  background-color: #2196f3;
  padding: 20px;
  color: white;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

.form-container {
  margin-top: .5rem;
}

input {
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 4px 0 0 4px;
  border: 0.1px solid black;
  border-right-width: 0px;
  outline: none;
}

button {
  /* padding: 11.5px 20px; */
  padding: 0.635rem;
  font-size: 1rem;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition effect */
  border: 0.1px solid black;
  border-left-width: 0px;
}

/* Hover effect */
button:hover {
  background-color: #0e7ac4; /* Change the background color on hover */
}



img {
  display: block;
  margin: 0 auto;
  height: 6rem;
}

.weather-info {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 0px;
  font-size: 1rem;
}


.dark-mode {
  background-color: #000;
  color: #fff;
  border: 1px solid black;
}

/* Add styles for recent searches */
.recent-searches {
  margin-top: 0rem;
  text-align: center;
}

.recent-searches h2 {
  font-size: 1.3rem;
  margin-bottom: 0rem;
}

.recent-searches ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: .5rem;
}

.recent-searches li {
  font-size: 1rem;
  margin: 0 0.625rem;
  text-transform: capitalize;
  cursor: pointer; /* Add cursor pointer */
  transition: all 0.3s; /* Add transition effect */
}

/* Style when clicked */
.recent-searches li:hover {
  color: #2196f3;
}

/* Rotate the dark mode icon when toggling */
header i:hover {
  transform: rotate(180deg);
  color: #ff6600; /* Change the background color when hovered */
}

/* CSS */
/* Style the dark mode toggle icon */
header i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s; /* Add transition effect */
}

header h1 i {
  font-size: 2rem;
}

/* Style the span text */
header span {
  display: block;
  font-size: 0.7rem; /* Adjust the font size as needed */
  transition: transform 0.3s; /*Add transition effect*/
  cursor: pointer;
}

.blank {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 3rem;
}